/*--------------------------------------*/


/*               generalité             */


/*--------------------------------------*/

body {
    background: white;
    margin: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black
}


/*--------------------------------------*/


/*               header                 */


/*--------------------------------------*/

h2 {
    text-align: center;
}

header.visiteur {
    height: 200px;
    background-size: cover;
    background: url("../images/header.jpg");
    text-align: center;
    margin: 0 0 30px 0;
    background-color: rgb(50, 50, 50);
}

H1.titre-page {
    margin: 0;
    line-height: 100px;
    color: red;
    font-weight: 300;
}

h2.titre-complement {
    margin: -10px 0 0 0;
    font-size: 1.2em;
    color: silver;
    font-weight: 300;
}


/*--------- NAV -----------*/

nav {
    margin: 0 auto;
    height: 40px;
}

nav .menu {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

nav .menu li {
    display: block;
}

nav .menu li a {
    display: block;
    line-height: 40px;
    padding: 0 25px;
    color: #666;
    text-decoration: none;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}

nav .menu>li:last-child a {
    border-right: 1px solid #666;
}

nav .menu>li:first-child {
    padding-top: 0px;
}

.menu>li.selected a,
.menu>li>a:hover {
    background: silver;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    display: inline-block;
}


/*-------------------------------------------*/


/*------ VueAcceuil / Liste Chapitre --------*/


/*-------------------------------------------*/

#TitreChap {
    background-color: silver;
    text-align: center;
    padding: 1px;
    max-width: 50%;
    margin: auto;
}

#DateChap {
    background-color: #ffc013a9;
    text-align: center;
    padding: 1px;
    max-width: 50%;
    margin: auto;
}

#ContenuChap {
    background-color: silver;
    text-align: center;
    padding: 1px;
    max-width: 50%;
    margin: auto;
}

hr {
    max-width: 30%;
    height: 0px;
    border: 2px black solid;
    margin-top: 25px;
    margin-bottom: 15px;
}


/*----------------------------------*/


/*         Menu admin               */


/*----------------------------------*/

#navAdmin {
    text-align: center;
    vertical-align: center;
    z-index: 0;
    background-color: #343c49;
    margin-top: -30px;
}

.LienNav {
    Color: white;
    padding-left: 15px;
}

.LienNav:hover {
    Color: silver;
}


/*-------------------------------------------*/


/* ------------ FOOTER --------------------- */


/*-------------------------------------------*/

footer .link-zone {
    height: 50px;
    align-content: center;
}

footer {
    background: url(../images/footer.jpg);
    background-size: cover;
    height: 100px;
    margin-top: 25px;
    margin: 0;
    z-index: 1;
    text-align: center;
}

footer .copyright {
    border-top: 1px solid #bcbcbc;
}

footer .copyright p {
    margin: 0;
    color: #bcbcbc;
    height: 50px;
    line-height: 50px;
}

footer .link-zone a {
    color: #ccd;
    text-decoration: none;
}


/*-------------------------------------------*/


/*         acces administrateur              */


/*-------------------------------------------*/

.apc {
    text-align: center;
}


/*-------------------------------------------*/


/*            VueChapitre                    */


/*-------------------------------------------*/

#titreReponses {
    text-align: center;
    font-size: 20px;
}

#titreCommentaire {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#ZoneCommentaire {
    /* Zone d'edition */
    text-align: center;
    width: 40%;
    margin: auto;
}


/*------------------------------------------*/


/*            zone de commentaire           */


/*------------------------------------------*/

#Commentaire {
    text-align: center;
    width: 50%;
    margin: auto;
}

#OneCommentaire {
    padding: 1px;
    text-align: center;
    background-color: silver;
    width: 80%;
    margin: auto;
    border: 1px black solid;
    margin-top: 7px;
}

#FirstLigneCommentaire {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -4%;
}

#SndLigneCommentaire {
    text-align: left;
    padding-left: 10px;
}

Row1 {
    border: 2px black solid;
}

Row2 {
    border: 2px black solid;
}


/*-------------------------------------*/


/*       Textaera ,form et bouton      */


/*-------------------------------------*/

textarea {
    background-color: silver;
    text-align: center;
    width: 600px;
    margin-top: 5px;
    margin: auto;
}


/*--------------------------------------------*/


/*  Form admin ajouter chap et modif chap     */


/*--------------------------------------------*/

#ZoneAjouterChap {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 25px;
}


/*--------------------------------------------*/


/* Zone d'edition de commentaire Vue Chapitre */


/*--------------------------------------------*/

#ZoneAjouterCommentaire {
    text-align: center;
    width: 40%;
    margin: auto;
}


/*-------------------------------------------*/


/* Selection de chapitre en liste deroulante */


/*-------------------------------------------*/

#selectionchapitre {
    margin-bottom: 10px;
}

#TitreChapitre {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*-------------------------------------*/


/* modification de chapitre ( titre )  */


/*-------------------------------------*/

#ModifTitre {
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
    font-weight: bold;
}


/*------------------------------------*/


/* modification de chapitre ( titre ) */


/*------------------------------------*/

#ModifChapitre {
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
    font-weight: bold;
}

.bouton_modifier {
    margin-top: 15px;
}

.titreBillet {
    margin-bottom: 2px;
}


/*--------------------------------*/


/*        VoirCom                 */


/*--------------------------------*/

#ComSignaler {
    border: 2px black solid;
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: silver;
}

#ContenerDivSignaler1 {
    margin: auto;
    border: 2px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 40%;
}


/*-------------------------- -*/


/* Commentaire non signaler   */


/*----------------------------*/

#ContenerDivSignaler2 {
    margin: auto;
    border: 2px black solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 40%;
}


/*----------------------------------*/


/*            page Contact          */


/*----------------------------------*/

.bouton_contact {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    background-color: silver;
    width: 200px;
}

#bouton_supprimer {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    background-color: silver;
    width: 200px;
    margin-left: 5%;
}

.bouton_signaler {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bouton_commenter {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    background-color: silver;
    width: 200px;
}


/*----------------------------------*/


/* pour supprimer un chapitre        */


/*----------------------------------*/

#selectionchapitre {
    width: 500px;
    color: black;
    font-weight: bold;
    background-color: #ffc01377;
}


/*-------------média querie-----------------*/

@media screen and (max-width: 780px) {
    H1.titre-page {
        margin: 0;
        line-height: 60px;
        color: red;
        font-weight: 50;
    }
    #TitreChap {
        background-color: silver;
        text-align: center;
        padding: 1px;
        min-width: 80%;
        margin: auto;
    }
    #DateChap {
        background-color: #ffc013a9;
        text-align: center;
        padding: 1px;
        min-width: 80%;
        margin: auto;
    }
    #ContenuChap {
        background-color: silver;
        text-align: center;
        padding: 1px;
        min-width: 80%;
        margin: auto;
    }
    #ZoneAjouterChap {
        width: 100%;
    }
    #Commentaire {
        width: 100%;
    }
    #ZoneAjouterCommentaire {
        width: 100%;
    }
    #navAdmin {
        height: 80px;
    }
    .LienNav {
        padding-left: 6px;
    }
    #ContenerDivSignaler1 {
        width: 90%;
    }
    #ContenerDivSignaler2 {
        width: 90%;
    }
    #ComSignaler {
        width: 80%;
    }
}